html, body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #0e0e0e;
    color: #fefefe;
}

#navigation{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #202020;
    height: 30px;
}

a{
    color: #f23128;
    text-decoration:underline;
}

.flex-container, .main{
    display: flex;
    justify-content: space-between;
}

.nav{
    padding: 5px;
}

#nav1 > li{
    padding-left: 10px;
}

#nav2 > li{
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
}

.spacer{
    color: #f23128;
}

#info1 > li, #info2 > li{
    list-style-type: none;
}

#main{
    background-color: #333333;
    width: 70%;
    height: auto;
    justify-content: center;
}


#mail, #tlf{
    color: #000000;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 20px;
}

#main > h1{
    text-align: center;
}

#info2 > li{
    text-align: right;
}

#info2 > li > a{
    color: #f26828;
}

@media  screen and (max-width: 600px) {
    #main {
        width: 100%;
    }
}