html, body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #e0e0e0;
}

#navigation{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #202020;
    height: 30px;
}

a{
    color: #f23128;
    text-decoration:underline;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.nav{
    padding: 5px;
}

#nav1 > li{
    padding-left: 10px;
}

#nav2 > li{
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
}

.spacer{
    color: #f23128;
}

.main{
    display: flex;
    justify-content: space-between;
}

#info1 > li, #info2 > li{
    list-style-type: none;
}

#main{
    background-color: #bebebe;
    width: 70%;
    height: 887px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#mail, #tlf{
    color: #000000;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#main > h1{
    text-align: center;
}

#info2 >li{
    text-align: right;
}

#info2 > li > a{
    color: #1231c7;
}